body {
  background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
  background-color: #e3e2dd;
  background-repeat: no-repeat;
}

.cert-runtime-genre,
.outline,
.txt-block {
  font-size: 11px;
  color: #666666;
}

.txt-block {
  margin: 0.35em 0;
}

#root {
  max-width: 700px;
}

.odd {
  background-color: #f6f6f5;
  border: #fff 1px solid;
}

.even {
  background-color: #fbfbfb;
  border: #fff 1px solid;
}

h4 {
  color: #666666;
  font-size: 13px;
  margin: 0.35em 0 0.25em;
  padding: 0;
  color: #136cb2;
}

h5 {
  font-size: 11px;
  color: #666;
  margin: 0;
  padding: 0;
}

h5.inline {
  display: inline;
  padding: 0 0.5em 0 0;
}

.txt-block span {
  color: #136cb2;
}

:root {
  font-family: Verdana, Arial, sans-serif;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .img-container {
  max-width: 600px !important;
}

.w-49 {
  width: 49% !important;
  min-width: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.cl-transition {
  width: 100%;
  transition: all 0.6s ease;
}

img {
  max-height: 160px;
  max-width: 160px;
  width: auto;
}

.cl-star {
  z-index: 999;
  top: 0;
}

.modal .d-none {
  display: initial !important;
}

.svg-resize {
  width: 25px !important;
  height: auto !important;
  border-bottom: 1px solid transparent;
}

.svg-resize2 {
  width: 20px !important;
  height: auto !important;
}

.page-number {
  min-width: 37px;
}

.button-shadow:hover {
  box-shadow: 0px 2px 3px 0px rgba(255, 193, 7, 0.75);
  border-radius: 50%;
  position: relative;
  top: -0.5px;
}
